.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}
.container img {
	height: 400px;
	width: 400px;
}
.signup-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
}
.signup-form-container h2 {
	margin-top: 0px;
}

#signup-btn {
	padding: 10px 5px;
	background-color: aquamarine;
}

#signup_error {
	color: red;
}